body{
    margin: 0px 0px 0px 0px;
    margin-bottom:200px;
    margin-top: 50px;
}

.pytania{
    margin-bottom: 50px;
    display:flex;
    justify-content: center;
}

#baton{
    margin-top: 50px;
}


.tytul{
    display: flex;
    justify-content: center;
}

.copy{
    display: flex;
    justify-content: center;
}