.inline{
    display: inline-block;
    width:49%;
}

.header{
    background-color: #00838F;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
}

body{
    margin: 0px;
}

.footer{

    background-color: #00838F;
    color:white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;    
}